@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 98vh;
  gap: 2rem;

  .logo {
    max-width: 26vh;
  }

  .start-btn {
    background-color: #F49811;
    border: 4px solid #000;
    border-radius: 50px;
    color: #cf3b10;
    font-size: 2rem;
    font-family: 'Luckiest Guy', sans-serif;
    padding: 1rem 3rem;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 0 #000;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }

    &.desktop {
      display: none;
    }

    &.mobile {
      display: block;
    }
  }

  .left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }


  span {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    text-shadow: 0.3px 0.3px 0 #000;
  }

  .cards-wrapper {
    position: relative;
    width: 150px;
    height: 220px;

    .card {
      position: absolute;
      width: 100%;
      height: auto;
      border-radius: 19px;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
      transition: transform 0.3s ease;
    }

    .back-1 {
      transform: rotate(-10deg);
      left: -15px;
      z-index: 1;
    }

    .back-2 {
      transform: rotate(10deg);
      left: 15px;
      z-index: 2;
    }

    .back-3 {
      transform: rotate(0deg);
      z-index: 3;
    }
  }

  @media (min-width: 1000px) {
    flex-direction: row;
    justify-content: space-around;

    .logo {
      max-width: 300px;
    }

    .cards-wrapper {
      width: 300px;
      height: 390px;
    }

    .start-btn {
      font-size: 2.5rem;
      padding: 1.2rem 4rem;

      &.desktop {
        display: block;
      }

      &.mobile {
        display: none;
      }
    }
  }
}


.copy{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 0.3px 0.3px 0 #000;
}